.container {
  width: 100vw;
  height: 100vh;
  background-image: linear-gradient(180deg, #6a11cb, #3376e1);
  display: grid;
  align-items: center;
  justify-content: center;
}

.logo {
  margin: auto;
  margin-bottom: 0.5em;
}

.create-parche-section {
  width: 40vw;
  min-height: fit-content;
  margin: auto;
  margin-top: auto;
  border-radius: 10px;
  padding: 1em;
  background-color: white;
}

.create-parche-section h2 {
  text-align: center;
}

.create-parche-form {
  display: grid;
  grid-auto-flow: row;
  gap: 1em;
  margin: 1.2em auto;
}

.create-parche-form .geo {
  display: grid;
  grid-auto-flow: column;
}

.create-parche-form .geo input {
  outline: none;
  border: none;
  border-bottom: 1px solid black;
  width: 80%;
}

.create-parche-form textarea {
  resize: none;
  width: 90%;
  height: 6em;
  margin: auto;
  padding: 10px;
  border: none;
  outline: none;
  border-radius: 5px;
  box-shadow: 0px 1px 2px black;
}

.categories {
  display: grid;
  grid-auto-flow: column;
  width: fit-content;
  gap: 5px;
  margin: auto;
}

.categories select {
  background-color: white;
  border: 1px solid black;
  transition: all 0.25s ease;
  border-radius: 5px;
}

.categories select {
  text-align: center;
  background-image: linear-gradient(180deg, #6a11cb, #3376e1);
  color: white;
}
.categories select option {
  text-align: center;
  background-color: #7858e0;
  color: white;
  margin: auto;
}

.upload-media {
  text-align: center;
}

.upload-media input {
  border: none;
}

.create-parche-section button {
  border: none;
  background-image: linear-gradient(180deg, #6a11cb, #3376e1);
  color: white;
  border-radius: 5px;
  cursor: pointer;
  letter-spacing: 1px;
  font-weight: bold;
  padding: 2px;
}

.create-parche-section button:hover {
  box-shadow: 0px 0px 2px rgba(0, 0, 0, 1);
}
