nav {
  width: 100%;
  background-image: linear-gradient(180deg, #6a11cb, #5933e1);
  overflow: hidden;
}

nav .container-nav {
  width: 80vw;
  display: grid;
  grid-auto-flow: column;
  grid-template-columns: 20% 1fr max-content;
  align-items: center;
  margin: 0px auto;
  height: 15vh;
}

/* LOGO */

.logo {
  width: 15vw;
}

/* SEARCH */

.search form {
  width: max-content;
  height: fit-content;
  margin: auto;
  display: grid;
  grid-template-columns: 1fr 15%;
  align-items: center;
  border: 1px solid black;
  border-radius: 10px;
  padding-left: 5px;
  background-color: white;
}

.search form input {
  outline: none;
  border: none;
}

/* USER */

.signin-section {
  width: 100%;
}

.signin-button {
  width: fit-content;
  border: none;
  background-color: white;
  box-shadow: 1px 1px 2px rgba(0, 0, 0, 0.8);
  padding: 5px;
  border-radius: 3px;
}

.signin-button:hover {
  box-shadow: 2px 2px 2px black;
}

.user-section {
  display: grid;
  grid-auto-flow: column;
  align-items: center;
  gap: 1em;
}

.user-section .user-avatar {
  border-radius: 50%;
  border: 2px solid rgb(255, 255, 255);
  width: 5em;
  height: 5em;
  padding: 0;
  cursor: pointer;
}

.user-avatar:hover {
  border: none;
}

.user-section button {
  width: fit-content;
  border: none;
  background-color: white;
  box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.9);
  padding: 5px;
  border-radius: 3px;
}

.user-section button:hover {
  box-shadow: 1px 1px 3px rgba(0, 0, 0, 1);
}

@media (max-width: 700px) {
  nav .container-nav {
    width: 90%;
  }

  .user-section .user-avatar {
    width: 4em;
    height: 4em;
  }

  nav .logo {
    margin-bottom: 0;
    width: 20vw;
  }
}

@media (max-width: 500px) {
  .user-section button {
    display: none;
  }
}

@media (max-width: 400px) {
  nav .container-nav {
    width: 95%;
  }

  nav .search {
    width: fit-content;
    margin: auto;
  }
}

@media (max-width: 340px) {
  .user-section .user-avatar {
    width: 3.5em;
    height: 3.5em;
  }

  nav .container-nav .search {
    grid-template-columns: 30% 30% 1fr;
  }

  nav .logo {
    margin-bottom: 0;
    width: 30vw;
  }

  nav .user-section {
    width: fit-content;
  }

  nav .container-nav {
    max-height: 10vh;
  }
}
