.loading-section .loading {
  font-size: 3em;
  min-height: 100%;
  width: fit-content;
  margin: auto;
}

.loading-section {
  width: 100%;
  display: grid;
  justify-content: center;
}

.no-loading-image {
  text-align: center;
  background-image: linear-gradient(rgb(224, 203, 203), rgb(176, 176, 208));
  font-size: 2em;
  width: 100%;
  height: 100%;
}
