.list-of-parches {
  min-height: 100vh;
  width: 100%;
}

.parche {
  width: 60%;
  margin: 20px auto 30px;
  padding: 10px;
  border-radius: 10px;
  box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.8);
  background-color: rgba(255, 255, 255, 0.3);
  backdrop-filter: blur(10px);
}

.header {
  width: fit-content;
  margin-left: 2em;
  display: grid;
  grid-auto-flow: column;
  gap: 2em;
  justify-content: left;
  align-items: center;
}

.img-user {
  width: fit-content;
}

.img-user img {
  border-radius: 50%;
  width: 60px;
  height: 60px;
}

.info-published {
  display: grid;
  grid-auto-flow: row;
  row-gap: 5px;
}

.info-published h3 {
  width: fit-content;
}

.geo-category {
  display: grid;
  grid-auto-flow: column;
  align-items: center;
  justify-content: start;
  gap: 10px;
}

.geo-category .geo {
  background-color: blueviolet;
  border-radius: 2px;
  color: white;
  padding: 2px;
}
.geo-category .category {
  background-color: green;
  border-radius: 2px;
  color: white;
  padding: 2px;
}

.geo-category .category .Parques::before {
  content: "🏕️ ";
}
.geo-category .category .Rumbas::before {
  content: "💃 ";
}
.geo-category .category .Deportes::before {
  content: "🤾 ";
}
.geo-category .category .Comidas::before {
  content: "🍔 ";
}
.geo-category .category .Bebidas::before {
  content: "🍹 ";
}
.geo-category .category .Tiendas::before {
  content: "🛍️ ";
}
.geo-category .category .Naturaleza::before {
  content: "🏞️ ";
}
.geo-category .category .Juegos::before {
  content: "🎮 ";
}

.info-parches-user button {
  display: grid;
  grid-auto-flow: row;
  justify-content: center;
}

.text-description {
  margin: 2em 2em;
  font-size: 1.1em;
  float: left;
}

.text-description span {
  background-color: rgb(49, 122, 238);
  color: white;
  font-size: 1.1em;
  font-weight: bold;
  border-radius: 20px;
  padding: 0px 10px;
}

.slider img {
  width: 3000px;
  height: 200px;
}

/* FOOTER */

.footer {
  margin-top: 20px;
  display: grid;
  grid-auto-flow: column;
  gap: 2em;
  justify-content: center;
  align-items: center;
  margin-left: 2em;
}

.like,
.liked,
.save,
.comments {
  display: grid;
  grid-auto-flow: column;
  align-items: center;
  cursor: pointer;
}

.like img {
  margin-right: 5px;
  background-color: rgb(255, 255, 255);
  border-radius: 50%;
  border: 2px solid black;
}
.saved img {
  background-color: rgb(255, 255, 255);
  border-radius: 50%;
  border: 2px solid rgb(255, 255, 255);
}

.liked img {
  border: 2px solid rgb(255, 255, 255);
  margin-right: 5px;
  background-color: rgb(73, 136, 252);
  border-radius: 50%;
}
.save img {
  filter: drop-shadow(0px 0px 2px black);
}

.saved {
  display: none;
}

.unauthorized {
  display: none;
}

@media (max-width: 900px) {
  .parche {
    width: 70%;
  }
}

@media (max-width: 700px) {
}

@media (max-width: 500px) {
  .parche {
    width: 90%;
  }
}

@media (max-width: 400px) {
  .parche .header {
    margin-left: 0;
    gap: 1em;
  }

  .header .info-published {
    row-gap: 0;
  }

  .body .description .text-description {
    margin: 1em 0;
  }
}

@media (max-width: 330px) {
  .info-published .geo-category {
    grid-auto-flow: row;
    gap: 1px;
  }

  .description .text-description {
    font-size: 1em;
  }
}
