.list-of-parches {
  min-height: 2000px;
}

.parche {
  width: 60%;
  margin: 20px auto;
  padding: 10px;
  border-radius: 10px;
  box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.8);
}

.header {
  width: fit-content;
  margin-left: 2em;
  display: grid;
  grid-auto-flow: column;
  gap: 2em;
  justify-content: left;
  align-items: center;
}

.img-user {
  width: fit-content;
}

.img-user img {
  border-radius: 50%;
  width: 60px;
  height: 60px;
}

.info-published {
  display: grid;
  grid-auto-flow: row;
  row-gap: 5px;
}

.info-published h3 {
  width: fit-content;
}

.geo-category {
  display: grid;
  grid-auto-flow: column;
  align-items: center;
  justify-content: start;
  gap: 10px;
}

.geo-category .geo {
  background-color: blueviolet;
  color: white;
  padding: 2px;
}
.category {
  background-color: green;
  color: white;
  padding: 2px;
}

.text-description {
  margin: 2em 2em;
  font-size: 1.1em;
  float: left;
}

.text-description span {
  background-color: rgb(49, 122, 238);
  color: white;
  font-size: 1.1em;
  font-weight: bold;
  border-radius: 20px;
  padding: 0px 10px;
}

.slider img {
  width: 3000px;
  height: 200px;
}

/* FOOTER */

.footer {
  margin-top: 20px;
  display: grid;
  grid-auto-flow: column;
  gap: 2em;
  justify-content: center;
  align-items: center;
  margin-left: 2em;
}

.like,
.comments {
  display: grid;
  grid-auto-flow: column;
  align-items: center;
  cursor: pointer;
}

.like img {
  margin-right: 5px;
  background-color: rgb(49, 122, 238);
  border-radius: 50%;
}
